<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- so that the phone can look for bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- lets the app discover bluetooth devices locally (app-initiated) and manipulate bluetooth settings -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- so that the phone can be made discoverable to other bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- so that the app can communicate with paired devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- so that the app can get the location of the peripheral -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- specifies that BLE is a critical part of the app and hides this app from users who do not have it-->
    <!-- note: this can be changed to 'false' and then checked at runtime if we want -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- for android 11 and lower -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>