<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- so that the phone can look for bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- lets the app discover bluetooth devices locally (app-initiated) and manipulate bluetooth settings -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- so that the phone can be made discoverable to other bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- so that the app can communicate with paired devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- so that the app can get the location of the peripheral -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- for scanning Wi-Fi networks -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- for android 11 or under -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- specifies that BLE is a critical part of the app and hides this app from users who do not have it-->
    <!-- note: this can be changed to 'false' and then checked at runtime if we want -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- android internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/tranquility_icon"
        android:label="Tranquilify"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="true"> <!-- set to true for HTTP purposes -->
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>